[submodule "week-1-mongodb-fundamentals-assignment-Marish-meys"]
	path = week-1-mongodb-fundamentals-assignment-Marish-meys
	url = https://github.com/PLP-MERN-Stack-Development/week-1-mongodb-fundamentals-assignment-Marish-meys.git
